@use 'tag';

.nav-right {
   color: white;
}

.col-switch {
  margin-top: auto;
  margin-bottom: auto;
}

.colognes-container {
  margin-top: 2rem;
}

.colognes-list .no-image-item .image {
  height: 14rem;
}

.no-image-item .image {
  display: flex;
  color: white;
}

.no-image-item .image i {
  margin: auto;
  font-size: 5rem;
}

.no-featured-image {
  display: flex;
  height: 16rem;
  color: white;
  font-size: 2rem;

  i {
    margin: auto;
  }
}

.icons-card-header {
  display: flex;
  justify-content: space-between;

  i {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}